<configuration xmlns="http://logging.apache.org/log4php/">
	<appender name="myAppender" class="LoggerAppenderRollingFile">
		<layout class="LoggerLayoutPattern">
			<param name="conversionPattern" value="%date{Y-m-d H:i:s} %class::%method [%level] - %message%newline" />
		</layout>
		<param name="file" value="../log/back-end.log" />
		
		<param name="maxFileSize" value="100MB" />
        	<param name="maxBackupIndex" value="5" />
	</appender>
	<root>
		<level value="INFO" />
		<appender_ref ref="myAppender" />
	</root>
</configuration>
